body,html{
    margin: 0;
    padding: 0;
    background-color: #00719c;
}

header{
    width: 100%;
    height: 70px;
    background-color: #00415a;
}

span{
    color: white;
}

ul{
    width: auto;
    float: left;
}

li{
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 100px;
}

.nav{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    margin-bottom: 6px;
}

a:hover{
    color: #00b8ff;
    transition: 0.5s;
}

#winkelwagen{
    margin-left: 300px;
}

.winkel {
    margin-bottom: 6px;
}

#logo{
    margin-top: 6px;
}